In [1]:
import pandas as pd

In [2]:
lines = open('pg105.txt', 'r').readlines()

In [3]:
lines[:5]

['\ufeffThe Project Gutenberg EBook of Persuasion, by Jane Austen\n',
 '\n',
 'This eBook is for the use of anyone anywhere at no cost and with\n',
 'almost no restrictions whatsoever.  You may copy it, give it away or\n',
 're-use it under the terms of the Project Gutenberg License included\n']

In [4]:
lines[-5:]

['\n',
 'This Web site includes information about Project Gutenberg-tm,\n',
 'including how to make donations to the Project Gutenberg Literary\n',
 'Archive Foundation, how to help produce our new eBooks, and how to\n',
 'subscribe to our email newsletter to hear about new eBooks.\n']

In [5]:
austen = pd.DataFrame(lines)

In [6]:
austen.sample(10)

                                                      0
2616  not stay.  It might have been an opportunity o...
7611  altogether, we did not think it fair to stand ...
2274  But I never went beyond the Streights, and nev...
8307                                                 \n
423   Bath, Sir Walter and Elizabeth were induced to...
5190  this picture excited.  For a few moments her i...
2819                                                 \n
2951  have the pleasure of taking you home.  Here is...
2859  He had done, and was unanswered.  It would hav...
247   had been informed, spoken most disrespectfully...

In [9]:
austen.columns = ['line_str']

In [10]:
austen.head()

                                            line_str
0  ﻿The Project Gutenberg EBook of Persuasion, by...
1                                                 \n
2  This eBook is for the use of anyone anywhere a...
3  almost no restrictions whatsoever.  You may co...
4  re-use it under the terms of the Project Guten...

In [11]:
austen.index.name = 'line_num'

In [12]:
austen.head()

                                                   line_str
line_num
0         ﻿The Project Gutenberg EBook of Persuasion, by...
1                                                        \n
2         This eBook is for the use of anyone anywhere a...
3         almost no restrictions whatsoever.  You may co...
4         re-use it under the terms of the Project Guten...